@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
::selection{
    background-color:cornflowerblue;
    color:honeydew;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    

}
a{
    text-decoration: none;
}
body,html{
    height: 100%;
    width:100%;
}
body{
    background-color:honeydew;
    position: relative;
}
.logoHeading{
     font-family: "Croissant One", serif;
     color:seagreen;
     font-size:36px;
     font-weight:bold;
     
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:12px 24px;
    
}
.resetButton>i,.resetButton{
    font-size:18px;
}
.resetButton{
      font-family: "Croissant One", serif;
      background-color: transparent;
      border:2px solid transparent;
      outline:none;
      padding:8px 16px;
      transition:all 0.2s ease-in;
      border-radius:10px;
      
}
.resetButton:hover{
    border-color:seagreen;
    background-color: black;
    color:whitesmoke;
    cursor:pointer;
}
hr{
    height:1px;
    width:65%;
   margin:25px auto;
   outline:none;
   border-color:bisque
}

/* duration section  */
.durationSection{
    display:flex;
    align-items:center;
    margin:20px 0px;
    gap:84px;
    padding:20px 45px;
}
.durationDivs{
    display:flex;
    align-items: center;
    gap:90px;
    
}
.durationDivs>div{
    font-size:18px;
    font-weight:bold;
    transition:all 0.2s ease-out;
    border-radius:4px;
    padding:8px 16px;
    border:1px solid transparent;
}
.durationDivs>div:hover{
     border-color:seagreen;
    background-color: black;
    color:whitesmoke;
    cursor:pointer;
    
    
}
#customDurationDiv{
    display:flex;
    padding:0;
    border:none;
}
#customInput{
    caret-color:black;
    background-color:honeydew;
}

.customDurationDiv>button>i{
     font-size:18px;
     font-weight:bold;
     background-color: transparent;
     color:white;
   
}
.customDurationDiv>button{
     padding:4px 8px;
     background-color:goldenrod;
     border-radius:4px;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
     outline:none;
     border:1px solid grey;
     transition:all 0.2s ease-in;
}
.customDurationDiv>button:hover{
   
    cursor: pointer;
}
#customInput{
    border: 1px solid black;
    border-right: none;
    font-size:18px;
    font-weight:bold;
    transition:all 0.2s ease-out;
    border-radius:4px;
    padding:8px 16px;
    min-width:64px;
    max-width:100px;
    color:black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#customInput:focus{
    outline:none;
}
#customInput:hover{
    cursor:text;
}

/* Stats Bar */
.statsDivs{
    padding:25px 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:65px;
}
.Stat{
    width:200px;
    text-align: center;
    padding:25px 0px;
    border:1px solid transparent;
    border-radius:50%;
    transition:all 0.2s ease-in;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    transition: all 0.3s ease;
    
}
#timerStat{
    border:3px solid seagreen;
   
}
#timerStat:hover{
    background-color: seagreen;
    color:white;
    border-color:grey;
}
#accuracyStat{
    border:3px solid cornflowerblue;
}
#accuracyStat:hover{
     background-color:cornflowerblue;
     color:honeydew;
     border-color:grey;
}
#wordsStat{
    border:3px solid red;
}
#wordsStat:hover{
    background-color:red;
    color:honeydew;
    border-color:grey;

}

.Stat:hover{
    cursor: pointer;
}
.statValue{
    margin-top:15px;
}
.statValue>p{
    font-weight:bold;
}
.statValue>p>span{
    font-size:22px;
    margin-right:3px;
    
}

/* Input section */
#typing{
    position: relative;
    width:85%;
    height:130px;
    margin:0 auto;
    background-color: gainsboro;
}
.textDisplay{
    font-size:28px;
    opacity:0.4;
    position: absolute;
    height:100%;
    width: 100%;
    padding:18px 36px;
}

.typingDiv{
    outline:none;
    color:deeppink;
    font-size:24px;
    display: block;
    border:none;
    outline:none;
    font-size:28px;
    caret-color: crimson;
    position: absolute;
    height:100%;
    width: 100%;
    padding:18px 36px;

    
}



/* Trying to style popup */
.popup{
    height:500px;
    width:500px;
    border:3px solid sandybrown;
    border-radius:16px;
    background-color: cadetblue;
    padding:16px 24px;
    display:flex;
    flex-direction:column;
    align-items: center;
    transition: all 0.4s ease-in;
    z-index:90;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
#popupHeading{
    color:crimson;
    font-size:36px;
    margin:12px 0px 24px 0;
    text-align: center;
   
}
#popHeading2{
    font-size:22px;
    margin-top:15px;
    color:gainsboro;
}
#popupPara{
    color:honeydew;
    font-size:18px;

}


#startBtn{
    background-color: transparent;
    position:absolute;
    outline:none;
    border:none;
    font-size:20px;
    color:honeydew;
    font-weight:bold;
    bottom:15%;
    border:2px solid transparent;
    transition: all 0.2s linear;
    padding:10px 20px;
    border-radius:8px;
    
}
#startBtn:hover{
    background-color:honeydew;
    color:cadetblue;
    border-color:coral;
    cursor:pointer;
}



#popInput{
    padding:12px 20px;
    width:100%;
    outline:none;
    border:none;
    border-radius:5px;
    font-size:18px;
    margin:18px 0;
    background-color:honeydew;
}
#difficultyDiv{
    display:flex;
    width:100%;
    padding:15px 45px;
    align-items: center;
    justify-content: space-between;
}
#difficultyDiv>h3{
    font-size:18px;
    color:honeydew;
}
#difficulty{
    padding: 8px 14px;
    border-radius:4px;
    outline:none;
    background-color:honeydew;
    color:grey;
    font-weight:bold;
    border:none;
    font-size: 18px;
    transition: all 0.2s ease-in;
}
#difficulty:hover{
    cursor: pointer;   
}
#difficulty>option{
    background-color:honeydew;
    font-size:18px;
    font-weight: bold;
    padding:8px 14px;
    width:150px;
    border:1px solid coral;
    transition: all 0.2s ease-in;
    outline:none;
    text-align: center;
}
#difficulty>option:hover{
    color:red;
    background-color:honeydew;
    cursor: pointer;
}

#popCloseBtn{
    align-self: center;
    display:block;
    width:42px;
    height:42px;
    display:flex;
    align-items:center;
    justify-content: center;
    outline:none;
    border:none;
    background-color:transparent;
    transition:all 0.3s ease-in;
    position:absolute;
    top:8px;
    right:8px;
    opacity:0.7;
}
#popCloseBtn>i{
    font-size:18px;
    font-weight:bold;
}
#popCloseBtn:hover{
    cursor:pointer;
    transform: scale(1.2);
    opacity:1;
}


/* overlay (blur) div */
.overlayDiv{
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    display:none;
    left:0;
    backdrop-filter:blur(8px);
    transition: all 0.3s ease;
    z-index:45;
}


/* result div */
#resultDiv{
    height:500px;
    width:500px;
    background-color:#000;
    color:#fff;
    padding:12px 36px;
    border-radius:16px;
    border:3px solid brown;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:54px;
}
#resultDiv>h2{
    font-size:28px;
}
#resultDiv>h2>span{
    color:crimson;
}



#resultStats{
    border:1px solid white;
    padding:16px 28px;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    gap:18px;
}
#resultStats>div{
    padding:8px 20px;
    border:3px solid transparent;
    border-radius:8px;
    transition:all 0.3s ease-in;
}
#resultStats>div>h3{
    font-size:18px;
}
#resultStats>div:hover{
    cursor:pointer;
    background-color: honeydew;
    color:black;
 
}
#resultStats *{
      font-family: "Eagle Lake", serif;
}
#wordsResult:hover{
    border-color: red;
}
#accuracyResult:hover{
    border-color: cornflowerblue;
}
#timeTaken:hover{
    border-color: green;
}
/* resultCloseButton */
#resultCloseBtn{
    align-self: center;
    display:block;
    width:42px;
    height:42px;
    display:flex;
    align-items:center;
    justify-content: center;
    border:none;
    outline:none;
    background-color:transparent;
    transition:all 0.3s ease-in;
    position:absolute;
    top:8px;
    right:8px;
    opacity:0.7;

}
#resultCloseBtn:hover{
    transform: scale(1.2);
    cursor:pointer;
    opacity:1;
}
#resultCloseBtn>i{
    font-size:18px;
    color:white;
    font-weight:bold;
    
}

/* gifDiv */
#gifDiv{
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-image:url("https://i.giphy.com/Ae0WuPj6JV356Z1zYv.webp");
    background-size:cover;
    background-repeat:no-repeat;
}